[Desktop Entry]
Type=Application
Exec=/home/philipp/.tagebuch/wrapper_look_into_the_past.sh
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[de_DE]=Blick in die Vergangenheit
Comment[de_DE]=Öffnet Firefox mit den Einträgen der vergangenen Jahre und verschiebt das Fenster auf passenden Desktop
X-GNOME-Autostart-Delay=2
