[Desktop Entry]
Type=Application
Exec=kitty --start-as=fullscreen
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[de_DE]=kitty-Terminal
Comment[de_DE]=Starte Kitty als Vollbild
X-GNOME-Autostart-Delay=2
